.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
}

.auth-paper {
  width: 100%;
  max-width: 400px;
  padding: 32px;
}

.auth-form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}